@import url('https://fonts.googleapis.com/css?family=Arvo');

html {
    background-color: #fafbfc;
    color: #313639;
    font-family: 'Arvo', serif;
}

#add-button {
    background-color: transparent;
    border-color: transparent;
}

#add-text {
    color: #c0c0c0;
}

#add-text-active {
    color: #7ec270
}

#del-button {
    background-color: transparent;
    border-color: transparent;
}

#del-text {
    color: #c0c0c0;
}

#del-text-active {
    color: #d26e6e;  
}

/* -- on hover animated strikethrough -- */

.del-todo {
    text-decoration: none;
    position: relative;
}
.del-todo::before, .del-todo::after {
    content: '';
    background: #313639;
    position: absolute;
    top: 50%;
    height: 2px;
    width: 0;
}

.del-todo::before {
    left: 0;
}

.del-todo::after {
    right: 0;
    transition: width 500ms ease;
}

.del-todo:hover::before {
    width: 100%;
    transition: width 500ms ease;
}

.del-todo:hover::after {
    width: 100%;
    background: transparent;
    transition: 0;
}

/* -- --  */

.add-todo-container {
    background-color: #fff;
    padding: 10px;
    max-width: 300px;
    border-radius: 2px; 
}

.new-title {
    display: inline;
}

.todo-container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.uncompleted{
    width: 50%

}

.completed{
    width: 50%
}